@import "variables";
@import "~node_modules/rfs/scss";

@mixin h1 {
  @include rfs(64px);
  font-family: $font-family;
}
@mixin h3 {
  @include rfs(36px);
  font-family: $font-family;
}
@mixin p-18 {
  @include rfs(18px);
  font-family: $font-family;
}
@mixin p-16 {
  @include rfs(16px);
  font-family: $font-family;
}
h1 {@include h1;}
h3 {@include h3;}
