$font-family: 'Montserrat', sans-serif;
$box-shadow-white: 0 6px 30px rgba(79, 79, 79, 0.1);
$easing: cubic-bezier(.55,.085,.68,.53);
$transition3: .3s $easing;
$radius-btn: 6px;

$overlay: rgba(0,0,0,.44);
$placeholder: #808080;
$primary: #673ab7;
$white: #ffffff;
