<button class="close" type="button" mat-button mat-dialog-close>
  <mat-icon aria-hidden="false" aria-label="Close dialog">close</mat-icon>
</button>

<h3 mat-dialog-title class="title">{{ data.action === 'remove' ? ('Remove ' + data.title) : ('Create ' + data.title) }}</h3>
<div mat-dialog-content class="content">
  <ng-container *ngIf="data.action === 'remove'; else createContainer">
    <p>Are you sure that you want to remove <b>{{ data.title }}</b> todo?</p>
  </ng-container>
  <ng-template #createContainer>
    <p>Please, check all created data and save new Todo:</p>
    <ul>
      <li *ngIf="data.number">Number: <b>{{ data.number }}</b></li>
      <li *ngIf="data.description">Description: <b>{{ data.description }}</b></li>
      <li *ngIf="data.createdAt">Creation Date: <b>{{ data.createdAt | date }}</b></li>
    </ul>
  </ng-template>
</div>

<div mat-dialog-actions class="actions">
  <button type="button" mat-button color="warn" (click)="actionTodo(data.action)">Yes</button>
  <button type="button" mat-button color="primary" mat-dialog-close>Cancel</button>
</div>
