@import "../utils/variables";

.page {
  position: relative;
  main.content {
    min-height: 100vh;
    height: 100%;
    padding: 25px;
  }
}
mat-form-field {
  width: 100%;
}
.validation-errors {
  padding: 5px 0;
}
ul {
  padding-inline-start: 20px;
}

.cdk-overlay-pane {
  position: relative!important;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
  }
}
.cdk-global-overlay-wrapper, .cdk-overlay-connected-position-bounding-box {
  background: $overlay;
}
.mat-datepicker-popup {
  position: fixed !important;
  left: 50% !important;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 0 !important;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
